

.App  {
  background-color: #161513;
  color: #fff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
    margin-top: 4em;
  align-items: center;
  text-align: center;
}

body {
  font-family: 'Poppins', sans-serif;
}

.home-content {
  max-width: 800px; /* 👁️Adjust based on the FINAL design */
}

h1 {
  margin: 0.5em 0;
}

p {
  margin: 1em 0;
  line-height: 1.5; /* 👁️Improve readability */
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 1em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

#home {
  position: relative; /* Ensure positioning context for absolute positioning */
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

section {
  padding: 2em;
  margin: 1em 0;
}

.button-container {
  position: absolute;
  left: 50%; /* Center horizontally */
  top: 50%; /* Center vertically */
  transform: translate(-50%, -50%); /* Adjust for perfect centering */
  display: flex;
  gap: 10px; /* Space between buttons */
}

button {
  background-color: #161513;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 150px; /* Set specific width */
  height: 50px; /* Set specific height */
}

/* Specific styles for the "Get in Touch" button */
button:first-of-type {

}

/* Specific styles for the "Download CV" button */
button:last-of-type {
}

button:hover {
  background-color: #333;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff;
}

button:active {
  transform: scale(0.98);
}
