body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #161513;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  margin: 0.5em 0;
}

p {
  margin: 1em 0;
  line-height: 1.5; /* Improve readability */
}

section {
  padding: 2em;
  margin: 1em 0;
}
